.body_backgorund 
{
    background-image:url(hOye.gif);
    background-position:center;
    background-size:cover;
}
#myCanvas
{
  border-width: 10px;
  background-color: white;
border-style: ridge;

}

#for
{

width: 100px; ;
background-color: yellow;
font-size: xx-large;
font-family: cursive;
color: tomato;
}